body{
    overflow: hidden;
}

.container-fluid{
    margin-top: 15px;
    position: absolute;
    pointer-events: none;
}

#search-results{
    margin-top: 10px;
    background-color: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.search-result{
    padding: 10px;
}

.clickable{
    pointer-events: all;
}

#overhead-map{
    padding: 5px;
    background-color: #ffffff;
    height: 300px;
}
