#lblDistance{
    color:white;
    font-weight: bold;
    text-shadow:  2px  2px 2px black,
            2px -2px 2px black,
           -2px  2px 2px black,
           -2px -2px 2px black;
  }

.container-fluid{
    position: absolute;
}
