<div class="form-group clickable">
    <div class="input-group">
        <div class="glyphicon glyphicon-search input-group-addon"></div>
        <input type="text" class="form-control" placeholder="Search..." ng-model="sp.SitesService.query" ng-model-options="{ updateOn: 'default', debounce: { default: 500 } }" ng-change="sp.onQueryChange()">
        <div class="input-group-addon" ng-show="sp.SitesService.query">
            <button class="btn btn-default btn-xs close" aria-label="Close" ng-click="sp.SitesService.query=''" ><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="panel search-results" ng-show="sp.SitesService.query">
        <div ng-if="sp.SitesService.searched.length > 1" ng-cloak>
          <div class="search-result" ng-repeat="site in sp.SitesService.searched|startFrom:(sp.currentPage-1)*sp.pageSize|limitTo:sp.pageSize">
            <div style="display: inline-block; vertical-align: top;">
                <img ng-src="{{site.thumbnail ? site.thumbnail : 'http://placehold.it/120x80'}}" width="120">
            </div>
            <div style="display:inline-block;">
                <strong>{{ site.description_site }}</strong>
                <p>{{ site.site_interpretation }}</p>
            </div>
            <div class="btn-group">
                <button type="button" class="glyphicon glyphicon-eye-open" ng-click="sp.lookAtSite(site)" title="Look at site"></button>
                <button type="button" class="glyphicon glyphicon-tag" ng-click="sp.showLabel(site)" title="Show label"></button>
            </div>
          </div>
          <pager total-items="sp.SitesService.searched.length" items-per-page="sp.pageSize" ng-model="sp.currentPage" align="false"></pager>
        </div>
        <div ng-if="sp.SitesService.searched.length == 0" ng-cloak>No results.</div>
        <div ng-if="sp.SitesService.searched.length == 1" class="site-details" ng-cloak>
          TODO site details
          <div style="display: inline-block; vertical-align: top;">
              <img ng-src="{{sp.SitesService.searched[0].thumbnail }}" width="120">
          </div>
          <div style="display:inline-block;">
              <strong>{{ sp.SitesService.searched[0].description_site }}</strong>
              <p>{{ sp.SitesService.searched[0].site_interpretation }}</p>
          </div>
          <div class="btn-group">
              <button type="button" class="glyphicon glyphicon-eye-open" ng-click="sp.lookAtSite(sp.SitesService.searched[0])" title="Look at site"></button>
              <button type="button" class="glyphicon glyphicon-tag" ng-click="sp.showLabel(sp.SitesService.searched[0])" title="Show label"></button>
          </div>
        </div>
    </div>
</div>
