<div class="form-group clickable">
    <div class="input-group">
        <div class="glyphicon glyphicon-search input-group-addon"></div>
        <input type="text" class="form-control" placeholder="Search..." ng-model="sp.SitesService.query" ng-model-options="{ updateOn: 'default', debounce: { default: 500 } }" ng-change="sp.onQueryChange()">
        <div class="input-group-addon" ng-show="sp.SitesService.query">
            <button class="btn btn-default btn-xs close" aria-label="Close" ng-click="sp.SitesService.query=''" ><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="panel panel-default search-results scroll-panel" ng-show="sp.SitesService.query">
        <div ng-if="sp.SitesService.searched.length > 1" ng-cloak>
          <div class="search-result" ng-repeat="site in sp.SitesService.searched|startFrom:(sp.currentPage-1)*sp.pageSize|limitTo:sp.pageSize">
            <div style="display: inline-block; vertical-align: top;">
                <img ng-src="{{site.thumbnail ? site.thumbnail : 'http://placehold.it/120x80'}}" width="120">
            </div>
            <div style="display:inline-block;">
                <strong>{{ site.description_site }}</strong>
                <p>{{ site.site_interpretation }}</p>
            </div>
            <div class="btn-group">
                <button type="button" class="glyphicon glyphicon-eye-open" ng-click="sp.lookAtSite(site)" title="Look at site"></button>
                <button type="button" class="glyphicon glyphicon-tag" ng-click="sp.showLabel(site)" title="Show label"></button>
            </div>
          </div>
          <pager total-items="sp.SitesService.searched.length" items-per-page="sp.pageSize" ng-model="sp.currentPage" align="false"></pager>
        </div>
        <div ng-if="sp.SitesService.searched.length == 0" ng-cloak>No results.</div>
        <div ng-if="sp.SitesService.searched.length == 1" class="site-details" ng-cloak>
          <div class="form-group btn-group">
            <label class="btn btn-primary" ng-click="sp.lookAtSite(sp.currentSite)">Go to site</label>
            <label class="btn btn-primary" ng-click="sp.enterOrbitMode(sp.currentSite)">Inspect site</label>
          </div>
          <div class="form-group btn-group" dropdown>
            <button class="btn btn-primary" ng-disabled="sp.disabledButtons.sitePc" ng-model="sp.toggleButtons.sitePc" btn-checkbox>Site point cloud</button>
            <label class="btn btn-primary" ng-model="sp.toggleButtons.driveMap" btn-checkbox>Drive map</label>
            <label class="btn btn-primary" ng-disabled="sp.disabledButtons.siteMesh" ng-model="sp.toggleButtons.siteMesh" btn-checkbox>Site mesh</label>
            <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              Reconstruction meshes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-repeat="mesh in sp.SitesService.searched[0].reconstruction_mesh">{{ mesh.id }}</li>
            </ul>
          </div>
          <p>
            <img ng-src="{{sp.SitesService.searched[0].thumbnail }}" width="120" align="left">
            <strong>{{ sp.SitesService.searched[0].description_site }}</strong>
          </p>
          <p>
            Site interpretation: {{ sp.SitesService.searched[0].site_interpretation }}
          </p>
          <p>
            Site context: {{ sp.SitesService.searched[0].site_context }}
          </p>
          <h2>Objects</h2>
          <ul>
            <li ng-repeat="obj in sp.SitesService.searched[0].objects">{{ obj.description_object }}</li>
          </ul>
    </div>
</div>
