<div class="camera-modes btn-group">
  <button class="icon-big onrails-icon" ng-click="cmc.PathControls.enableRailsMode()" ng-model="cmc.cameraMode" btn-radio="'onrails'" title="On rails"></button>
  <button class="icon-big fly-icon" ng-click="cmc.PathControls.enableFlightMode()" ng-model="cmc.cameraMode" btn-radio="'fly'" title="Free fly"></button>
  <button class="icon-big demo-icon" ng-click="cmc.PathControls.enableDemoMode()" ng-model="cmc.cameraMode" btn-radio="'demo'" title="Demo mode"></buttons>
</div>
