<div class="controls">
    <button ng-click="pc.showSettings=!pc.showSettings" class="btn btn-lg btn-trans glyphicon glyphicon-cog"></button>
    <button ng-click="pc.goHome()" class="btn btn-lg btn-trans glyphicon glyphicon-home"></button>
    <button ng-click="pc.recordCameraLocation()" class="btn btn-lg btn-trans glyphicon glyphicon-record"></button>
	<button ng-click="pc.startMeasurement()" class="btn btn-lg btn-trans glyphicon glyphicon-resize-horizontal"></button>
  </div>
<div ng-show='pc.showSettings' class="panel panel-default settings-panel">
  <div class="panel-heading">Settings</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label>
          points(m)
          <input type="number" min="0.1" max="10.0" step="0.1" ng-model="pc.settings.pointCountTarget" />
        </label>
      </div>
      <div class="form-group">
        <label>
          PointSize
          <input type="number" min="0.1" max="3.0" step="0.1" ng-model="pc.settings.pointSize" />
        </label>
      </div>
      <div class="form-group">
        <label>
          opacity
          <input type="number" min="0.0" max="2.0" step="0.1" ng-model="pc.settings.opacity" />
        </label>
      </div>
      <div class="form-group">
        <label>
          Size type
          <select ng-model="pc.settings.pointSizeType" ng-options="value as key|lowercase for (key, value) in pc.settings.pointSizeTypes | orderBy:value">
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Color type
          <select ng-model="pc.settings.pointColorType" ng-options="value as key|lowercase for (key, value) in pc.settings.pointColorTypes | orderBy:value">
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          Shape
          <select ng-model="pc.settings.pointShape" ng-options="value as key|lowercase for (key, value) in pc.settings.pointShapes | orderBy:value">
          </select>
        </label>
      </div>
      <div class="form-group">
        <label>
          skybox
          <input type="checkbox" ng-model="pc.settings.showSkybox">
        </label>
      </div>
      <div class="form-group">
        <label>
          interpolate
          <input type="checkbox" ng-model="pc.settings.interpolate">
        </label>
      </div>
      <div class="form-group">
        <label>
          Stats
          <input type="checkbox" ng-model="pc.settings.showStats">
        </label>
      </div>
      <div class="form-group">
        <label>
          Path
          <input type="checkbox" ng-model="pc.PointcloudService.pathMesh.visible">
        </label>
      </div>
    </form>
  </div>
</div>
