<div class="controls-settings">
  <div collapse='!pc.showSettings' class="panel panel-default settings-panel">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label>
            Points(m)
            <input class="form-control" type="number" min="0.1" max="10.0" step="0.1" ng-model="pc.settings.pointCountTarget" />
          </label>
        </div>
        <div class="form-group">
          <label>
            PointSize
            <input class="form-control" type="number" min="0.01" max="3.0" step="0.01" ng-model="pc.settings.pointSize" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Opacity
            <input class="form-control" type="number" min="0.0" max="2.0" step="0.1" ng-model="pc.settings.opacity" />
          </label>
        </div>
        <div class="form-group">
          <label>
            Size type
            <select class="form-control" ng-model="pc.settings.pointSizeType" ng-options="value as key|lowercase for (key, value) in pc.settings.pointSizeTypes | orderBy:value">
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Color type
            <select class="form-control" ng-model="pc.settings.pointColorType" ng-options="value as key|lowercase for (key, value) in pc.settings.pointColorTypes | orderBy:value">
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Shape
            <select class="form-control" ng-model="pc.settings.pointShape" ng-options="value as key|lowercase for (key, value) in pc.settings.pointShapes | orderBy:value">
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Clip mode
            <select class="form-control" ng-model="pc.settings.clipMode" ng-options="value as key|lowercase for (key, value) in pc.settings.clipModes | orderBy:value">
            </select>
          </label>
        </div>
        <div class="form-group">
          <label>
            Profile width
            <input class="form-control" type="number" min="0.1" max="50" step="0.1" ng-model="pc.measure.profileWidth" />
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="pc.settings.showSkybox"> skybox
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="pc.settings.interpolate"> interpolate
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="pc.settings.showStats"> stats
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="pc.PointcloudService.pathMesh.visible"> path
          </label>
          <button ng-click="pc.recordCameraLocation()" class="btn btn-sm btn-trans glyphicon glyphicon-record" title="Record camera location"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div collapse='!pc.showHelp' class="panel panel-default help-panel">
  <div class="panel-heading">Help</div>
  <div class="panel-body" ng-include src="'scripts/pointcloud/help.html'">
  </div>
</div>

<div class="controls">
  <button ng-click="pc.showSettings=!pc.showSettings" class="icon-big gear-icon" ng-class="{active: pc.showSettings}" title="Settings"></button>
  <button ng-click="pc.showHelp=!pc.showHelp" class="icon-big help-icon" ng-class="{active: pc.showHelp}" title="Help"></button>

</div>

<div class="camera-modes btn-group">
  <button class="icon-big onrails-icon" ng-click="pc.PathControls.enableRailsMode()" ng-model="pc.cameraMode" btn-radio="'onrails'" title="On rails"></button>
  <button class="icon-big fly-icon" ng-click="pc.PathControls.enableFlightMode()" ng-model="pc.cameraMode" btn-radio="'fly'" title="Free fly"></button>
  <button class="icon-big demo-icon" ng-click="pc.PathControls.enableDemoMode()" ng-model="pc.cameraMode" btn-radio="'demo'" title="Demo mode"></buttons>
</div>
